@import url('https://fonts.googleapis.com/css?family=Quicksand');
.Layout{
    font-family: 'Quicksand', sans-serif;
    font-size: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(0, 124, 182);
    min-height: 100vh;
    ::placeholder {
        color: rgb(221, 245, 255);
    }
}